.contact-block {
  background-color: #e6f8fd;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 48px;
  margin-bottom: 48px;
  /* justify-self: space-between; */
}

.contact-illustration {
  width: 150%;
}

.contact-form {
  background-color: #01a7d7;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.form-group label {
  font-weight: 500;
  color: white;
}

.form-control {
  padding: 8px 12px;
  border-radius: 6px;
  font: inherit;
  font-weight: 400;
}

.form-control:focus {
  border-color: #b74421;
  outline: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px #b74421;
}

.form-control.placeholder {
  color: #d4d4d4;
}

.btn-block {
  background-color: #e35447;
  border-color: #e35447 !important;
  border-radius: 6px;
  color: white;
  padding: 8px 12px;
  border: none;
  text-transform: uppercase;
  font: inherit;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #f46355;
  border-color: #f46355;
}

.btn-primary:active {
  background-color: #e65c4f !important;
  border-color: #e65c4f;
}

.contact-details {
  margin-top: 48px;
  padding-bottom: 48px;
}

.icon {
  background-color: #005b75;
  padding: 15px;
  overflow: hidden;
  border-radius: 50%;
  color: #01baef;
}

.map-container {
  height: 200px;
  position: relative;
}

.map-container iframe {
  /* left: 0;
  top: 0; */
  height: 100%;
  width: 100%;
  position: absolute;
}
